body {
  background-color: rgb(185, 215, 233);
  text-align: justify;
  margin-right: 8%;
  margin-left: 8%;
  line-height: 1.5;
}

h1 {
  font-size: 300%;
  text-align: center;
}

h2 {
    font-size: 160%;
}

p {
    color: rgb(31, 31, 31);
    font-size: 100%;
}

/* siin vajalik, sest selle lehe joondus on justify */
#logo {
    text-align: center;
}
